*{
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

.logo,.search{
    color: #ff4685;
}

.search-bar{
    display: flex;
    border: solid black 1px;
    width: 30%;
    justify-content: space-around;
    padding: 10px;
    border-radius: 30px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.filter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

i{
    font-size: 20px;
}

img{
    border-radius: 10px;
    transition: 1s;
}
    
img:hover{
    transform: scale(1.1);
}

.hotel-container{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.footer-section{
    padding: 10px;
}